extends base

mixin navItem(link, text, icon, active)
  li(class=`${active ? 'side-nav--active' : ''}`)
    a(href=`${link}`)
      ion-icon(name=`${icon}`)
      | #{text}

block content
  section.account
    .account__block
      nav.account__block--menu
        ul.side-nav
          +navItem('#', 'Settings', 'settings-outline', true)
          +navItem('/my-courses', 'My Courses', 'briefcase-outline', false)
          +navItem('/my-reviews', 'My Reviews', 'star-outline', false)
          +navItem('#', 'Billing', 'card-outline', false)
          
        - if (user.role === 'admin')
          h5.side-nav__heading Admin panel
          ul.side-nav
              +navItem('/create-course', 'Create course', 'reader-outline', false)
              +navItem('/manage-courses', 'Manage courses', 'file-tray-full-outline', false)
              +navItem('/manage-reviews', 'Manage Reviews', 'people-outline', false)
              +navItem('/manage-users', 'Manage Users', 'stats-chart-outline', false)

      .account__block--content
        .account__block--content--container
          h2.heading-2--form.mb-lg My Account
          //- WITHOUT API
          //- form.form.form-user-data(action='/submit-user-data' method='POST' enctype='multipart/form-data')
          //- WITH API
          form.form.form-user-data
            .form__group
              label.form__label(for='name') Full Name
              input.form__input#name(type='text' value=`${user.name}` required='' name='name' maxlength='50' autocomplete='off' placeholder='Your full name.')
            .form__group
              label.form__label(for='email') Email address
              input.form__input#email(type='email' value=`${user.email}` required='' name='email' placeholder='Your email address.')
            .form__group
              label.form__label(for='occupation') Occupation
              input.form__input#occupation(type='text' value=`${user.occupation}` required='' name='occupation' maxlength='50' autocomplete='off' placeholder='What do you do for a living.')
            .form__group
              label.form__label(for='country') Country
              input.form__input#country(type='text' value=`${user.country}` required='' name='country' maxlength='50' autocomplete='off' placeholder='Which country you are from.')
            .form__group
              label.form__label(for='about') About yourself
              textarea.form__input#about(type='text' required='' name='about' maxlength='200' rows='3' autocomplete='off' placeholder='Tell us about yourself!')= user.about
            .form__group.form__photo-upload
              img.form__user-photo(src=`/img/users/${user.photo}` alt=`Photo of ${user.name}`)
              input.form__upload#photo(type='file' accept='image/*' name='photo')
              label(for='photo') Choose new photo
            .form__group
              button.btn.form__group--btn Save settings
        
        .account__block--content--container
          h2.heading-2--form.mb-lg Password Change
          form.form.form-user-password
            .form__group
              label.form__label(for='password-current') Current password
              input.form__input#password-current(type='password' placeholder='••••••••' required='' minlength='8')
            .form__group
              label.form__label(for='password-current') New password
              input.form__input#password(type='password' placeholder='••••••••' required='' minlength='8')
            .form__group
              label.form__label(for='password-confirm') Confirm password
              input.form__input#password-confirm(type='password' placeholder='••••••••' required='' minlength='8')
            .form__group
              button.btn.form__group--btn.btn--save-password Save password