extends base

block content
  section.featured
    .featured__heading
      h1.heading-1.mb-sm Ready to jump in?
      h2.heading-2.mb-sm Choose from hundreds of online courses from top universities and specialist organisations.
    .featured__popular
      .featured__popular--title Explore our popular courses
      .featured__popular--content

        each course in courses.slice(0, 3)
          .card
            .card__header
              .card__picture
                .card__picture--overlay &nbsp;
                img.card__picture--img(src=`img/courses/${course.image}` alt=`${course.name}`)
            .card__details
              h3.card__details--title= course.title
              p.card__details--subtitle= course.subtitle
            .card__footer
              p.card__footer--ratings
                span.card__footer--value= `Rating: ${course.ratingsAverage} `
                span.card__footer--text= `(${course.ratingsQuantity} ratings)`
              p.card__footer--price
                span.card__footer--value= `Price: $${(course.priceValue - (course.priceValue * course.priceDiscount / 100)).toFixed(2)} `
                span.card__footer--text per person
              a.btn.btn__card(href=`/courses/${course.slug}`) Details
