extends base

block content
  header.contentHeader
    .contentHeader__head
      h1.heading-1.mb-sm= course.title
      h2.heading-2.mb-sm= course.subtitle
      .contentHeader__head--stats
        .contentHeader__head--rating
          each star in [1, 2, 3, 4, 5]
            svg.contentHeader__head--star(class=`contentHeader__head--star--${course.ratingsAverage >= star ? 'active' : 'inactive'}`)
              use(xlink:href="/img/icons.svg#icon-star")
        .contentHeader__head--ratings= `${course.ratingsAverage} (${course.ratingsQuantity} ratings)`
        .contentHeader__head--students= `${course.studentsEnrolled} students enrolled`
      .contentHeader__head--about
        .contentHeader__head--about--created Created by 
          span.contentHeader__head--about--created--by= course.teachers[0].name
        .contentHeader__head--about--updated= `Last updated ${course.lastUpdate.toLocaleString('ru', {day: 'numeric', month: '2-digit', year: 'numeric'})}`
      .contentHeader__head--lang
        .contentHeader__head--lang--sound
          ion-icon(name='volume-high-outline')
          | 
          span= course.langSound.join(', ')
        .contentHeader__head--lang--subs
          ion-icon(name='logo-closed-captioning') 
          | 
          span= course.langSubs.join(', ')

    .contentHeader__body
      .contentHeader__body--card
        .contentHeader__body--left
          img.contentHeader__body--left--img(src=`/img/courses/${course.image}` alt=`${course.name}`)
          .contentHeader__body--left--price
            span.contentHeader__body--left--price--value= `€${(course.priceValue - (course.priceValue * course.priceDiscount / 100)).toFixed(2)} `
            span.contentHeader__body--left--price--discount= `€${course.priceValue.toFixed(2)}`
            span.contentHeader__body--left--price--percentage= ` (${course.priceDiscount}% off)`

          if user
            a.btn.btn__card#buy-course(data-course-id=`${course.id}`) Buy now
          else
            a.btn.btn__card(href='/login') Log in to buy
        .contentHeader__body--right
          .contentHeader__body--right--title
            span This course includes
          .contentHeader__body--right--content
            .contentHeader__body--right--content--row
              ion-icon(name='videocam')
              span= ` ${course.includesVideos} hours on-demand video`
            .contentHeader__body--right--content--row
              ion-icon(name='document')
              span= ` ${course.includesArticles} articles`
            .contentHeader__body--right--content--row
              ion-icon(name='cloud-download')
              span= ` ${course.includesContent} downloadable resource`
            .contentHeader__body--right--content--row
              ion-icon(name='infinite')
              span  Full lifetime access
            .contentHeader__body--right--content--row
              ion-icon(name='phone-portrait')
              span  Access on mobile and TV
            .contentHeader__body--right--content--row
              ion-icon(name='checkbox-outline')
              span  Certificate of Completion
      .contentHeader__body--learn
        .contentHeader__body--learn--title What you'll learn
        .contentHeader__body--learn--content
          .contentHeader__body--learn--column-1
            each row in course.learnSummary.slice(0, course.learnSummary.length / 2)
              .contentHeader__body--learn--row
                ion-icon(name='checkmark')
                | 
                span= row
          .contentHeader__body--learn--column-2
            each row in course.learnSummary.slice(course.learnSummary.length / 2)
              .contentHeader__body--learn--row
                ion-icon(name='checkmark')
                | 
                span= row

  section.description
    .description__title
      h3.heading-3 Description
    .description__content
      each row in course.description
        p
          ion-icon(name='remove')
          = row

  section.requirements
    .requirements__title
      h3.heading-3 Requirements
    .requirements__content
      each row in course.requirements
        p
          ion-icon(name='add')
          =row

  section.teachers
    .teachers__title
      h3.heading-3 Teachers
    .teachers__features
      each teacher in course.teachers
        .teachers__features--entry
          img.teachers__description--img(src=`/img/users/${teacher.photo}` alt=`${teacher.name}`)
          h4.heading-4--dark.teachers__features--name= teacher.name
          p.teachers__features--text-1= teacher.occupation || `${teacher.role[0].toUpperCase() + teacher.role.slice(1, teacher.role.length)}`
          p.teachers__features--text-2= teacher.country || 'Somewhere on Earth'
          p.teachers__features--text-3 &mdash;&mdash;&mdash;
          p.teachers__features--text-4= teacher.about || '404 Description not found'


  section.feedback
    .feedback__title
      h3.heading-3 Reviews
    .feedback__subtitle= `Course Rating: ${course.ratingsAverage}`
      .feedback__subtitle--rating
        each star in [1, 2, 3, 4, 5]
          svg.contentHeader__head--star(class=`contentHeader__head--star--${course.ratingsAverage >= star ? 'active' : 'inactive'}`)
            use(xlink:href="/img/icons.svg#icon-star")
    .feedback__content
      each review in course.reviews
        .feedback__content--review
          .feedback__content--review--col-1
            img.feedback__content--review--img(src=`/img/users/${review.user.photo}` alt=`${review.user.name}`)
            h4.feedback__content--review--name= review.user.name
            .feedback__content--review--occupation= review.user.occupation
            .feedback__content--review--country= review.user.country
            .feedback__content--review--date= review.createdAt.toLocaleString('ru', {day: 'numeric', month: '2-digit', year: 'numeric'})
          .feedback__content--review--col-2
            .feedback__content--review--rating
              each star in [1, 2, 3, 4, 5]
                svg.contentHeader__head--star(class=`contentHeader__head--star--${review.rating >= star ? 'active' : 'inactive'}`)
                  use(xlink:href="/img/icons.svg#icon-star")
            p.feedback__content--review--text= review.review