extends base

block content
  header.contentHeader
    .contentHeader__head
      h1.heading-1.mb-sm= course.title
      h2.heading-2.mb-sm= course.subtitle
      .contentHeader__head--stats
        .contentHeader__head--rating
          svg.contentHeader__head--star.contentHeader__head--star--active
            use(xlink:href="/img/icons.svg#icon-star")
          svg.contentHeader__head--star.contentHeader__head--star--active
            use(xlink:href="/img/icons.svg#icon-star")
          svg.contentHeader__head--star.contentHeader__head--star--active
            use(xlink:href="/img/icons.svg#icon-star")
          svg.contentHeader__head--star.contentHeader__head--star--active
            use(xlink:href="/img/icons.svg#icon-star")
          svg.contentHeader__head--star.contentHeader__head--star--active
            use(xlink:href="/img/icons.svg#icon-star")
        .contentHeader__head--ratings= `${course.ratingsAverage} (${course.ratingsQuantity} ratings)`
        .contentHeader__head--students= `${course.studentsEnrolled} students enrolled`
      .contentHeader__head--about
        .contentHeader__head--about--created Created by 
          span.contentHeader__head--about--created--by= course.teachers[0].name
        .contentHeader__head--about--updated= `Last updated ${course.lastUpdate.toLocaleString('ru', {day: 'numeric', month: '2-digit', year: 'numeric'})}`
      .contentHeader__head--lang
        .contentHeader__head--lang--sound
          ion-icon(name="text")
          | 
          each lang in course.langSound
            span= course.langSound
        .contentHeader__head--lang--subs
          ion-icon(name="logo-closed-captioning") 
          | 
          each lang in course.langSubs
            span= course.langSubs

    .contentHeader__body
      .contentHeader__body--card
        .contentHeader__body--left
          img.contentHeader__body--left--img(src=`/img/courses/${course.image}` alt=`${course.name}`)
          .contentHeader__body--left--price
            span.contentHeader__body--left--price--value= `€${(course.priceValue - (course.priceValue * course.priceDiscount / 100)).toFixed(2)} `
            span.contentHeader__body--left--price--discount= `€${course.priceValue.toFixed(2)}`
            span.contentHeader__body--left--price--percentage= ` (${course.priceDiscount}% off)`
          a.btn.btn__card(href='#') Buy now
        .contentHeader__body--right
          .contentHeader__body--right--title
            span This course includes
          .contentHeader__body--right--content
            .contentHeader__body--right--content--row
              ion-icon(name='videocam')
              span= `${course.includesVideos} hours on-demand video`
            .contentHeader__body--right--content--row
              ion-icon(name='document')
              span= `${course.includesArticles} articles`
            .contentHeader__body--right--content--row
              ion-icon(name='cloud-download')
              span= `${course.includesContent} downloadable resource`
            .contentHeader__body--right--content--row
              ion-icon(name='infinite')
              span Full lifetime access
            .contentHeader__body--right--content--row
              ion-icon(name='phone-portrait')
              span Access on mobile and TV
            .contentHeader__body--right--content--row
              ion-icon(name='checkbox-outline')
              span Certificate of Completion



              <div class="contentHeader__body--learn">
          <div class="contentHeader__body--learn--title">
            What you'll learn
          </div>
          <div class="contentHeader__body--learn--content">
            <div class="contentHeader__body--learn--column-1">
              <div class="contentHeader__body--learn--row">
                <ion-icon name="checkmark"></ion-icon>
                <span>
                  Go from a total beginner to an advanced JavaScript
                  developer</span
                >
              </div>
              <div class="contentHeader__body--learn--row">
                <ion-icon name="checkmark"></ion-icon>
                <span>
                  JavaScript and programming fundamentals: variables, boolean
                  logic, if/else, loops, functions, arrays, etc.</span
                >
              </div>
              <div class="contentHeader__body--learn--row">
                <ion-icon name="checkmark"></ion-icon>
                <span>
                  Asynchronous JavaScript: The event loop, promises,
                  async/await, AJAX and APIs</span
                >
              </div>
              <div class="contentHeader__body--learn--row">
                <ion-icon name="checkmark"></ion-icon>
                <span>
                  Downloadable lectures, code and design assets for all
                  projects</span
                >
              </div>
            </div>
            <div class="contentHeader__body--learn--column-2">
              <div class="contentHeader__body--learn--row">
                <ion-icon name="checkmark"></ion-icon>
                <span>
                  A true understanding of how JavaScript works behind the
                  scenes</span
                >
              </div>
              <div class="contentHeader__body--learn--row">
                <ion-icon name="checkmark"></ion-icon>
                <span>
                  Practice your new skills with coding challenges (solutions
                  included)</span
                >
              </div>
              <div class="contentHeader__body--learn--row">
                <ion-icon name="checkmark"></ion-icon>
                <span>
                  Organize and structure your code using JavaScript patterns
                  like modules</span
                >
              </div>
              <div class="contentHeader__body--learn--row">
                <ion-icon name="checkmark"></ion-icon>
                <span>
                  Modern JavaScript for 2020: NPM, Webpack, Babel and ES6
                  modules</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>