extends base

block content
  section.featured
    .featured__heading
      h1.heading-1.mb-sm Ready to jump in?
      h2.heading-2.mb-sm Choose from hundreds of online courses from top universities and specialist organisations.
    .featured__popular
      .featured__popular--title Explore our popular courses
      .featured__popular--content
        each course in unfilteredCourses.sort((a, b) =>  b.ratingsAverage - a.ratingsAverage).slice(0, 3)
          .card
            .card__header
              .card__picture
                .card__picture--overlay &nbsp;
                img.card__picture--img(src=`/img/courses/${course.image}`, alt=`${course.name}`)
            .card__details
              h3.card__details--title= course.title
              p.card__details--subtitle= course.subtitle
            .card__footer
              p.card__footer--ratings
                span.card__footer--value= `Rating: ${course.ratingsQuantity > 0 ? course.ratingsAverage : 'N/A'} `
                span.card__footer--text= `(${course.ratingsQuantity} ratings)`
              p.card__footer--price
                span.card__footer--value= `Price: ${course.priceFinal > 0 ? '€' + course.priceFinal : 'FREE'} `
                span.card__footer--text per person
              a.btn.btn__card(href=`/course/${course.slug}`) Details

  section.courses#courses
    .courses__heading Find the right online course for you
    .courses__filters
      label(for='dropdown')
        select#dropdown.dropdown__subjects(name='select')
          option(value='') All subjects
          option(value='category=bm') Business & Management
          option(value='category=itcs') IT & Computer Science
          option(value='category=engi') Science, Engineering & Math
          option(value='category=other') Other
      label(for='dropdown')
        select#dropdown.dropdown__types(name='select')
          option(value='') All courses
          option(value='priceDiscount[lte]=0') Premium courses
          option(value='priceDiscount[gte]=100') Free trials
      label(for='dropdown')
        select#dropdown.dropdown__sort(name='select')
          option(value='') Sort by: Latest published
          option(value='sort=-priceDiscount') Discount
          option(value='sort=-ratingsQuantity') Popularity
          option(value='sort=-ratingsAverage') Average rating
          option(value='sort=+priceValue') Price - Lowest
          option(value='sort=-priceValue') Price - Highest
    .courses__content
      each course in courses
        .card
          .card__header
            .card__picture
              .card__picture--overlay &nbsp;
              img.card__picture--img(src=`/img/courses/${course.image}`, alt=`${course.name}`)
          .card__details
            h3.card__details--title= course.title
            p.card__details--subtitle= course.subtitle
            .card__details--data
              ion-icon(name='videocam')
              span 28 hours on-demand video
            .card__details--data
              ion-icon(name='document')
              span 11 articles to study
            .card__details--data
              ion-icon(name='infinite')
              span Full lifetime access
            .card__details--data
              ion-icon(name='checkbox-outline')
              span Certificate of Completion
          .card__footer
            p.card__footer--ratings
              span.card__footer--value= `Rating: ${course.ratingsQuantity > 0 ? course.ratingsAverage : 'N/A'} `
              span.card__footer--text= `(${course.ratingsQuantity} ratings)`
            p.card__footer--price
              span.card__footer--value= `Price: ${course.priceFinal > 0 ? '€' + course.priceFinal : 'FREE'} `
              span.card__footer--text per person
            a.btn.btn__card(href=`/course/${course.slug}`) Details
