extends base

block content
  section.createcourse
    .createcourse__form
      h2.heading-2--form.mb-lg Update course
      form.form.form__createcourse#form__updatecourse
        .form__group
          label.form__label(for='updatecourse__title') Title
            input.form__input#updatecourse__title(type='text' name='title' placeholder='The course name' required='' minlength='10' maxlength='50' autocomplete='off' value= course.title)
        .form__group
          label.form__label(for='updatecourse__subtitle') Subtitle
            input.form__input#updatecourse__subtitle(type='text' name='subtitle' placeholder='A short description of the course' required='' minlength='10' maxlength='200' autocomplete='off' value= course.subtitle)
        .form__group
          label.form__label(for='updatecourse__langsound') Sound Languages
            input.form__input#updatecourse__langsound(type='text' name='langSound' placeholder='The available sound languages' required='' autocomplete='off' value= course.langSound.join(', '))
        .form__group
          label.form__label(for='updatecourse__langsubs') Subtitle Languages
            input.form__input#updatecourse__langsubs(type='text' name='langSubs' placeholder='The available subtitle languages' required='' autocomplete='off' value= course.langSubs.join(', '))
        .form__group
          label.form__label(for='updatecourse__includesvideo') Hours of video content
            input.form__input#updatecourse__includesvideo(type='number' name='includesVideos' placeholder='The number of the video lectures' required='' autocomplete='off' value= course.includesVideos)
        .form__group
          label.form__label(for='updatecourse__includesarticles') Number of articles provided
            input.form__input#updatecourse__includesarticles(type='number' name='includesArticles' placeholder='The number of the articles' required='' autocomplete='off' value= course.includesArticles)
        .form__group
          label.form__label(for='updatecourse__includescontent') Number of downloadable resource
            input.form__input#updatecourse__includescontent(type='number' name='includesContent' placeholder='The number of the text content' required='' autocomplete='off' value= course.includesContent)
        .form__group
          label.form__label(for='updatecourse__summary') Summary
            textarea.form__input#updatecourse__summary(type='text' name='learnSummary' placeholder='The summary of the course' minlength='50' maxlength='10000' rows='5' required='' autocomplete='off')= course.learnSummary.join(' ')
        .form__group
          label.form__label(for='updatecourse__description') Description
            textarea.form__input#updatecourse__description(type='text' name='description' placeholder='The description of the course' minlength='50' maxlength='10000' rows='5' required='' autocomplete='off')= course.description.join(' ')
        .form__group
          label.form__label(for='updatecourse__requirements') Requirements
            textarea.form__input#updatecourse__requirements(type='text' name='requirements' placeholder='The requirements of the course' minlength='20' maxlength='10000' rows='5' required='' autocomplete='off')= course.requirements.join(' ')
        .form__group
          label.form__label(for='updatecourse__pricevalue') Full Price
            input.form__input#updatecourse__pricevalue(type='number' name='priceValue' placeholder='The price of the course' required='' autocomplete='off' value= course.priceValue)
        .form__group
          label.form__label(for='updatecourse__pricediscount') Price Discount
            input.form__input#updatecourse__pricediscount(type='number' name='priceDiscount' placeholder='The price discount %' required='' autocomplete='off' value= course.priceDiscount)
        .form__group
          label.form__label(for='updatecourse__teachers') Teachers
            input.form__input(type='text' placeholder='The course teachers' value=`${course.teachers.map(x => x.name).join(', ')}` disabled)
            input.form__input#updatecourse__courseId(type='hidden' value=`${course.id}`)
            input.form__input#updatecourse__category(type='hidden' value=`${course.category}`)
        .form__group
          label.createcourse__dropdown(for='dropdown')
            select.updatecourse__category#dropdown(name='category')
              option(value='' disabled) Category
              option(value='bm') Business & Management
              option(value='itcs') IT & Computer Science
              option(value='engi') Science, Engineering & Math
              option(value='other') Other
        .form__group.form__photo-upload.createcourse__photo
          img.form__course-photo(src=`/img/courses/${course.image}` alt=`Photo of ${course.name}`)
          input.form__upload#updatecourse__photo(type='file' accept='image/*' name='image')
          label(for='updatecourse__photo') Choose course photo
        .createcourse__form--btns
          .form__group
            button.btn.form__group--btn Update course